.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
}

.gradientText0 {
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText1 {
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background: -webkit-linear-gradient(#bfa3da, #743f93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText3 {
  background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-color: #84309c;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: left;
}

.connect {
  margin-bottom: 2rem;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #555;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #131313;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  max-width: 440px;
  overflow: hidden;
  border: none;
  border-radius: 20px;

  transition: transform 0.2s ease;
  position: relative;
}

.cardText {
  padding: 1rem;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  opacity: 80%;
  transform: translateY(-5px);
}

.card h2 {
  margin: 0 0 0.75rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    font-size: 3rem;
    line-height: 1.15;
  }
}

.card,
.footer {
  border-color: #222;
}
.logo img {
  filter: invert(1);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background: #070707;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  border-top: 1px solid #333;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  background: #070707;
}
.navIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 64px;
  cursor: pointer;
}
.navIconLabel {
  font-size: 12px;
  text-align: center;
  color: white;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}


.packCard {
  width: 98%;
  margin: 0.5%;
}
.shopPack {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: #eaeaea solid 2px;
}
.packInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}



.nftCard {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  border: #eaeaea solid 2px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.nftCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #5000ac, transparent); /* Luce oro su sfondo trasparente */
  animation: luce 4s linear infinite; /* Animazione di movimento della luce */
}

@keyframes luce {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}




/* Aggiungi queste regole CSS al tuo modulo Home.module.css */
.revealEffect {
  opacity: 0;
  animation: reveal 1s ease-in-out forwards;
}

.lightEffect {
  position: relative;
}

.lightEffect::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  background-size: 200% 100%;
  animation: shine 2s linear infinite; /* Animazione di sfumatura che si ripete all'infinito */
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shine {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}


/* Aggiungi queste regole CSS nel tuo file CSS o nel modulo CSS appropriato */
.heroButton {
  background-color: rgb(88, 0, 170); /* Colore di sfondo argento */
  color: #ffffff; /* Colore del testo */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  position: absolute; /* Posizionamento assoluto */
  top: 70%; /* Altezza in percentuale dal bordo superiore */
  left: 50%; /* Centrato orizzontalmente al 50% */
  transform: translate(-50%, -50%); /* Muovi l'elemento indietro di metà delle sue dimensioni per centrarlo perfettamente */
}

.heroButton:hover {
  background-color: #00c8ff; /* Cambia il colore al passaggio del mouse */
  transform: scale(1.05); /* Effetto di ingrandimento al passaggio del mouse */
}

/* Puoi personalizzare ulteriormente lo stile a tuo piacimento */





/* Aggiungi queste regole CSS al tuo stile Home.module.css */
.profileDropdown {
  position: absolute;
  bottom: 100%; /* Posiziona sopra l'elemento genitore */
  right: 0; /* Posiziona a destra dell'elemento genitore */
  background-color: #ffffff; /* Colore di sfondo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombra leggera */
  border-radius: 8px; /* Bordi arrotondati */
  padding: 8px; /* Spazio interno */
  z-index: 999; /* Imposta una z-index elevata per sovrapporla a contenuti sottostanti */
  min-width: 120px; /* Larghezza minima */
}

.profileDropdown p {
  margin: 8px 0;
  padding: 4px 12px;
  color: #333; /* Colore del testo */
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.profileDropdown button {
  margin-top: 8px;
  padding: 4px 12px;
  background-color: #8000dc; /* Colore del pulsante */
  color: #fff; /* Colore del testo del pulsante */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Stili per l'elemento .nftClaim */
.nftClaim {
  text-align: center; /* Centra il contenuto orizzontalmente */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra il contenuto verticalmente */
  justify-content: flex-start; /* Allinea l'elemento in alto rispetto al centro */
  height: 100vh; /* Altezza del 100% della viewport */
}
